<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
</head>
<body>
<h1>Registration Form</h1>
<form th:action="@{/auth/registration}" th:object="${user}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required th:field="*{name}"/>
    <br/><br/>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required th:field="*{email}"/>
    <br/><br/>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required th:field="*{password}"/>
    <br/><br/>

    <button type="submit">Register</button>
    <a th:href="@{/auth/login}">login</a>
</form>
</body>
</html>
