<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{/admin/edit}" th:object="${user}" method="post">
  <input type="hidden" th:field="*{id}" />
  <p>
    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name" />
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
  </p>
  <p>
    <label for="email">Email:</label>
    <input type="email" th:field="*{email}" id="email" />
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" id="password" />
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
  </p>
  <p>
    <label for="roles">Roles:</label>
    <select multiple name="roleIds" id="roles">
      <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}" th:selected="${user.roles.contains(role)}"></option>
    </select>
  </p>
  <input type="submit" value="Save" />
</form>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Logout"/>
</form>
</body>
</html>


<!--<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{/admin/edit}" th:object="${user}" method="post">
  <input type="hidden" th:field="*{id}" />
  <p>
    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name" />
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
  </p>
  <p>
    <label for="email">Email:</label>
    <input type="email" th:field="*{email}" id="email" />
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" id="password" />
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
  </p>
  <p>
    <label for="roles">Roles:</label>
    <select multiple th:field="*{roles}" id="roles">
      <option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}" th:selected="${user.roles.contains(role)}"></option>
    </select>
  </p>
  <input type="submit" value="Save" />
</form>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Logout"/>
</form>
</body>
</html>-->



<!--
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
</head>
<body>
<h1>Edit User</h1>
<form th:action="@{/admin/edit}" th:object="${user}" method="post">
  <input type="hidden" th:field="*{id}" />
  <p>
    <label for="firstName">First Name:</label>
    <input type="text" th:field="*{firstName}" id="firstName" />
    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
  </p>
  <p>
    <label for="lastName">Last Name:</label>
    <input type="text" th:field="*{lastName}" id="lastName" />
    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
  </p>
  <p>
    <label for="email">Email:</label>
    <input type="email" th:field="*{email}" id="email" />
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" id="password" />
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
  </p>
  <p>
    <label for="roles">Roles:</label>
    <select multiple th:field="*{roles}" id="roles">
      <option th:each="role : ${allRoles}" th:value="${role.id}" th:text="${role.name}" th:selected="${user.hasRole(role)}"></option>
    </select>
  </p>
  <input type="submit" value="Save" />
</form>
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Logout"/>
</form>
</body>
</html>
-->
