<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>User List</title>
</head>
<body>
<h1>User List</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Roles</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.email}"></td>
    <td>
      <ul>
        <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
      </ul>
    </td>
    <td>
      <a th:href="@{/admin/edit/{id}(id=${user.id})}">Edit</a>
      <form th:action="@{/admin/delete}" method="post">
        <input type="hidden" name="id" th:value="${user.id}">
        <button type="submit">Delete</button>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<a th:href="@{/admin/create}">Create User</a>
<!--<input type="submit"  th:if="${#authentication.principal.authorities.^[name == 'ROLE_ADMIN'] != null}"
       th:value="Go to admin page" th:href="@{/admin}" />-->
<form th:action="@{/logout}" method="post">
  <input type="submit" value="Logout"/>
</form>
</body>
</html>


<!--
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
  <title>User List</title>
</head>
<body>
<h1>User List</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Password</th>
    <th>Roles</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.name}"></td>
    <td th:text="${user.password}"></td>
    <td>
      <ul>
        <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
      </ul>
    </td>
    <td>
      <a th:href="@{/users/edit/{id}(id=${user.id})}">Edit</a>
      <form th:action="@{/users/delete}" method="post">
        <input type="hidden" name="id" th:value="${user.id}"/>
        <input type="submit" value="Delete"/>
      </form>
    </td>
  </tr>
  </tbody>
</table>
<a th:href="@{/users/create}">Create User</a>
</body>
</html>
-->
