<div id="editUserForm" th:fragment="editUserFormFragment">
    <div class="modal fade" th:id="'editUser' + ${user.id}" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserModalLabel">edit user</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row justify-content-md-center">
                            <div class="col-6">
                                <form th:action="@{/admin/edit}" th:object="${user}" method="post">
                                    <div class="row justify-content-center">
                                        <div class="form-group" style="text-align: center;">
                                            <label for="editId">ID</label>
                                            <input disabled type="text" class="form-control"
                                                   id="editId"
                                                   th:name="id"
                                                   th:value="${user.id}">
                                            <input type="hidden" th:name="id"
                                                   th:value="${user.id}"/>
                                        </div>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="form-group" style="text-align: center;">
                                            <label for="editName">Name</label>
                                            <input type="text" th:name="name"
                                                   th:value="${user.name}" id="editName"
                                                   class="form-control" required>
                                        </div>
                                    </div>
                                    <!-- email-->
                                    <div class="row justify-content-center">
                                        <div class="form-group" style="text-align: center;">
                                            <label for="editEmail">Email</label>
                                            <input type="text" th:name="email"
                                                   th:value="${user.email}" id="editEmail"
                                                   class="form-control" required>
                                        </div>
                                    </div>
                                    <!-- поле password -->
                                    <div class="row justify-content-center">
                                        <div class="form-group" style="text-align: center;">
                                            <label for="editPassword">Password</label>
                                            <input type="password" th:name="password"
                                                   id="editPassword" class="form-control"
                                                   required>
                                        </div>
                                    </div>
                                    <!-- поле Role-->
                                    <div class="row justify-content-center">
                                        <div class="form-group" style="text-align: center;">
                                            <br>
                                            <label for="roles">Roles:</label>
                                            <select multiple name="roleIds" id="roles">
                                                <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.name}" th:selected="${user.roles.contains(role)}"></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                                data-bs-dismiss="modal">Close
                                        </button>
                                        <button type="submit" class="btn btn-primary">Edit
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
